main {
    min-height: 80vh;

}

body{
    margin: 0;
}

.image {
    list-style-type: none;
}

/* Estilo del carrusel */
.image-carousel-container {
    margin-top: 30px;
    width: auto; /* ajusta el ancho */
    height: 50vh; /*Utiliza el 50% de la pantalla visible como alto*/
    overflow: hidden; /* Oculta el contenido que excede el ancho */
    position: relative; /* Permite posicionar los botones sobre el contenedor */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo de las imágenes */
.image-carousel-container img {
    display: none; /* Oculta las imágenes inicialmente */
    /*display: block; /* Asegura que las imágenes se muestren una debajo de la otra */
    width: auto; /* Utiliza todo el ancho del contenedor */
    height: 100%; /* Permite que la altura se ajuste automáticamente */
}

/* Estilo de los botones */
.carousel-button {
    position: absolute; /* Posiciona los botones sobre el contenedor */
    top: 50%; /* Los coloca en la mitad verticalmente */
    transform: translateY(-50%); /* Los centra verticalmente */
    background: rgba(0, 0, 0, 0.5); /* Color de fondo transparente */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

/* Estilo del botón de dirección izquierda */
.carousel-button.left {
    left: 0; /* Alinea a la izquierda */
}

/* Estilo del botón de dirección derecha */
.carousel-button.right {
    right: 0; /* Alinea a la derecha */
}

#information {
    text-align: center; /* Centra los elementos de texto */
}

#name {
    margin-top: 20px; /* Espacio en la parte superior */
}

#content-container {
    display: flex; /* Utiliza flexbox para mostrar elementos en línea */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: flex-start;
}

#description {
   /* width: 50vh; /* Ancho del párrafo */
    margin-right: 20px; /* Margen derecho para separar del elemento adyacente */
    text-align: justify;
    flex: 1;
}

#no_final_image {
    width: 25vh; /* Ancho de la imagen */
    height: auto;
}

.add-Comments{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.add-Comments h2{
    margin: 10px;
}

textarea {
    resize: vertical; /* Permite la expansión vertical */
    max-width: 100%; /* Evita la expansión horizontal */
    height: 50px !important; /* Establece la altura inicial del textarea */
}



#mostrar-formulario {
    float: right; /* Mueve el botón a la derecha */
    margin-right: 100px; /* Agrega un margen derecho para separarlo del borde */
}

#listaComentarios {
    margin-top: 50px;
}
#listaComentarios li {
    /* Estilos para cada elemento <li> */
    list-style-type: none;
    position: relative; /* Establecemos una posición relativa */
    padding-right: 30px; /* Añadimos un espacio a la derecha del <li> para el emoji */
    margin: 0 30px 10px -20px;
    padding: 10px; /* Espacio interno dentro de cada comentario */
    background-color: #f9f9f9; /* Color de fondo del comentario */
    border: 1px solid #ccc; /* Borde del comentario */
    border-radius: 5px; /* Borde redondeado del comentario */
}

.reporte {
    position: absolute; /* Posiciona el emoji de reportar de manera absoluta */
    right: 10px; /* Lo posiciona a 10px del borde derecho del <li> */
    transform: translateY(-50%); /* Centra verticalmente el emoji */
    font-size: 25px; /* Tamaño del emoji */
    cursor: pointer;
}


/* Estilos para los comentarios */
.comentario {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.nombre {
    font-weight: bold;
}
.mensaje {
    margin-top: 5px;
}


.comentario {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.header-comment{
    display: flex;
    align-items: center;
}

.imagen-comentario {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}

.nombre {
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 5px;
}


.valoracion {
    padding: 0 10px ;
    font-style: italic;
    margin-left: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.mensaje {
    margin-left: 60px; /* Ajustar según el tamaño de la imagen */
}

.reporte {
    margin:10px;
}

/* ------ MAP ------ */

#map {
    width: 40%;
    height: 260px;
    overflow: hidden; /* Evita que la imagen sobresalga del contenedor */
    margin-bottom: 10px;
}

/*.map img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}*/

/* ------ DESCRIPTION ------ */

.description_section textarea {
    width: 90vw;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
    padding-right: 0;
    border-radius: 8px;
    background-color: #e0e0e0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.description_section textarea::placeholder {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}