body {
    margin: 0;
}

main {
    min-height: 80vh;
}

/* Estilo del carrusel */
.image-carousel-container {
    margin-top: 10px;
    width: auto;
    height: 50vh; /*Utiliza el 50% de la pantalla visible como alto*/
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo de las imágenes */
.image-carousel-container img {
    display: none;
    width: auto;
    height: 100%;
}

/* Estilo de los botones */
.carousel-button {
    position: absolute; /* Posiciona los botones sobre el contenedor */
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
}

/* Estilo del botón de dirección izquierda */
.carousel-button.left {
    left: 0;
}

/* Estilo del botón de dirección derecha */
.carousel-button.right {
    right: 0;
}

#information {
    text-align: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
#topSide {
    display: flex;
    flex-direction: column;
}

.star{
    font-size: 24px;
    color: gold;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

#publicationData, #userData {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#publicationData {
    order: 1;
}

#publicationData img {
    width: 25px;
    height: 25px;
}

#publicationData img:hover{
    transform: scale(1.1);
}
#photoUser {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#username {
    margin-left: 20px;
}

#name {
    margin-top: 20px;
    margin-right: 20px;
}

#content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 97.5%;
}

#description {
    width: 10vh;
    margin-right: 20px;
    flex: 1;
}

.Header-Comments{
    display: flex;
    margin-left: 2%;
}
.Header-Comments h2{
    margin: 10px;
}

.Header-Comments #mostrar-formulario, .Header-Comments #addRating {
    margin: 10px;
    width: auto;
    height: auto;
}

#addRating {
    margin-left: auto;
}

.Header-Comments #addRating {
    margin-left: auto;
}

/* Estilos para los comentarios */
.comentario {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.nombre {
    font-weight: bold;
}
.mensaje {
    margin-top: 5px;
}


.comentario {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.header-comment{
    display: flex;
    align-items: center;
}

.imagen-comentario {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}

.nombre {
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 5px;
}


.valoracion {
    padding: 0 10px ;
    font-style: italic;
    margin-left: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.mensaje {
    margin-left: 60px; /* Ajustar según el tamaño de la imagen */
}

.reporte {
    margin:10px;
}

#map {
    height: 40vh;
    width: 100%;
    justify-content: center;
}

#comentarios {
    margin-left: 1.5%;
    width: 80%;
}

#comentarios li, #ratings li {
    margin-bottom: 10px;
}

.comments\&ratings {
    display: flex;
}
/* ------ ADD IMAGES ------ */
#botonAñadir {
    display: none;
}
.add_images_section {
    margin-left: 20px;
    background-color: #D9D9D9;
    text-align: center;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px dashed #000000;
    position: relative;
}

.add_images_section {
    cursor: pointer;
}

#imageUpload {
    display: none;
}
#imageUpload {
    display: none;
}

.add_images_symbol {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 60px;
    color: #000;
    text-align: center;
    line-height: 200px;
    background-color: rgba(217, 217, 217, 1);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.add_images_symbol::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(217, 217, 217, 1);    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1; /* Coloca el fondo detrás del símbolo "+" */
}

.add_images_symbol:hover {
    background-color: #C0C0C0;
}
.add_images_symbol {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}
.add_images_text {
    position: absolute;
    margin: 10px;
    width: 100%;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}


/* ------ RESPONSIVE HEADERS ------ */

/* Ocultar los headers por defecto */
header#phoneHeader {
    display: none;
}

header#desktopHeader {
    display: none;
}

/* Mostrar el header correspondiente según el tamaño de la ventana */
@media screen and (max-width: 720px) {
    header#desktopHeader {
        display: none;
    }
    header#phoneHeader {
        display: block;
    }
}

@media screen and (min-width: 721px) {
    header#phoneHeader {
        display: none;
    }
    header#desktopHeader {
        display: block;
    }
}