body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #CCCCCC;
}

.container {
    display: flex;
    height: 90vh;
    padding: 10vh;
}


.left-side,
.right-side {
    flex: 1;
    box-sizing: border-box;
    background-color: #ffffff;
}

.left-side {
    position: relative;
    overflow: hidden;
    border-radius: 10% 0 0 10%;
}

.left-side img {
    width: 100%;
    height: auto;
    display: block;
}

.right-side {
    border-radius: 0 10% 10% 0;
}

.login-form-container {
    max-width: max-content;
    margin: 0 auto;
    box-sizing: border-box;
}

.login-form {
    padding: 10px;
    background-color: #ffffff;
    color: #3D94FA;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #3D94FA;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

.dont-have-account-link {
    margin-top: 10%;
}
.forgot-password-link {
    margin-top: 3%;
}

.dont-have-account-link a,
.forgot-password-link a {
    text-decoration: none;
    color: #696565;
    margin-right: 0;
    font-size: 12px;
}

.dont-have-account-link a:hover,
.forgot-password-link a:hover {
    text-decoration: underline;
}

.social-login-options {
    margin-top: 5%;
}

.google-login,
.facebook-login {
    display: inline-block; /* Hace que los botones estén en línea */
}

.google-login a,
.facebook-login a {
    text-decoration: none;
    color: #3D94FA;
    background-color: #ffffff;
    border: 1px solid #3D94FA;
    padding: 8px 12px;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
}

.google-login a:hover,
.facebook-login a:hover {
    background-color: #3D94FA;
    color: #ffffff;
}