body {
    margin: 0;
    padding: 0;
    background-image: url("../Images/aspa.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteSquare {
    background-color: white;
    padding: 70px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center div {
    margin-bottom: 15px;
}

.big_inputs, .small_inputs {
    font-size: 24px;
}

.small_inputs {
    width: 238px;
    height: 30px;
}

.big_inputs {
    width: 480px;
    height: 30px;
}

.SignUpButton {
    font-size: 24px;
    background-color: #0C6DFF;
    color: white;
    padding: 10px 70px;
    border-radius: 10%;
}

.terms_checkbox {
    display: flex;
    align-items: center;
}

.terms_text {
    margin-right: 10px;
}