header {
    background-color: #d8d8d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    background-color: #d8d8d8;
}
nav ul {
    list-style: none;
    padding:0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 5px;
}

nav a{
    color: #000000;
    text-decoration: none;
}

button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left:auto;
    border-radius: 10px;
}

button:hover {
    background-color: #cc0000;
}

img {
    max-height: 50px;
    margin: 10px;
}

#ProfileImage{
    border-radius: 50%;
}
