main {
    min-height: 82vh;
}

body {
    margin: 0;
    min-width: 375px;
    overflow-x: hidden;
    background-color: white;
}

.User {
    width: 100%;
    height: 15em;
    background-color: rgba(167, 225, 225, 0.37);
    position: relative;
    display: flex;
    align-items: center;
}

.User img {
    margin-left: 20px;
    width: 8em;
    height: 8em;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
}

.User span {
    font-size: 40px;
    font-family: ABeeZee, serif;
}

.following {
    margin-left: 12%;
}

.options {
    width: 100%;
    position: absolute;
    margin-left: 6.75em;
    font-size: 25px;
    top: 80%;
    white-space: nowrap;
}

.options a {
    text-decoration: none;
    color: black;
    margin-right: 1em;
    font-family: ABeeZee, serif;
}

.options a:hover {
    color: #18449b;
}

.contImagen {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40vh, 1fr));
    column-gap: 7px;
    row-gap: 1em;
    margin: 10px 5px;
}

.contImagen > div {
    width: 100%;
    height: 100%;
}

.contImagen img {
    width: auto;
    height: auto;
}

#footerContainer {
    margin-top: 26vh;
}

.follower-info span {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

#personalInformation b {
    display: block;
    margin-left: 1em;
}

#firstName {
    font-weight: normal;
    font-size: 20px;
    margin-left: 2px;
}

/* ------ RESPONSIVE HEADERS ------ */

/* Ocultar los headers por defecto */
header#phoneHeader {
    display: none;
}

header#desktopHeader {
    display: none;
}

/* Mostrar el header correspondiente según el tamaño de la ventana */
@media screen and (max-width: 815px) {
    header#desktopHeader {
        display: none;
    }
    header#phoneHeader {
        display: block;
    }

    .contImagen {
        margin-left: 21%;
        grid-template-columns: repeat(1, 1fr);
    }

    #username {
        font-size: 18px;
    }

    .options a {
        font-size: 18px;
    }
}

@media screen and (min-width: 816px) {
    header#phoneHeader {
        display: none;
    }
    header#desktopHeader {
        display: block;
    }
}

.followers {
    display: flex;
    margin-bottom: 10px;
    margin-left: 40%;
    position: absolute;

}

#seguidos, #siguiedo {
    width: 23em;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

#seguidos a, #siguiedo a {
    font-size: 30px;
    margin-right: 15vh;
    color: black;
    font-family: ABeeZee, serif;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-left: 15vh;
}

.follower {
    display: flex;
    margin: 5%;
}

.follower p {
    font-size: 20px;
    font-family: ABeeZee, serif;
}

.follower img {
    border: 2px solid black;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    margin-right: 1em;
}

.follower-username {
    margin: 0;
}

#followersDisplay, #followingDisplay {
    background-color: whitesmoke;
    max-height: 55vh;
    overflow-y: auto;
    border: 2px solid black;
    margin: 0;
    padding: 0;
}

#followersDisplay p, #followingDisplay p {
    margin-top: 13%;
    font-family: ABeeZee, serif;
    font-weight: bold;
    font-size: 25px;
}

#followersDisplay.active {
    width: 23em;
    display: block;
    position: absolute;
    z-index: 9999;
}

#followingDisplay.active {
    width: 23em;
    display: block;
    position: absolute;
    z-index: 9999;
}

.inactive {
    display: none;
}

.active {
    display: block;
}

