main {
    min-height: 80vh;
}

.User {
    height: 200px;
    background-color: gray;
    position: relative;
    display: flex;
    align-items: center;
}

.User img {
    margin-left: 20px;
    width: 100px;
    height: 100px;
}

.User span {
    margin-left: 10px;
    font-size: 30px;
}

.User a {
    position: relative;
    color: black;
    margin-left:70px;
    text-decoration: none;
    font-size: 30px;
    top: 35%;
}
.contImagen {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 7px;
    row-gap: 60px;
    margin: 10px 5px;
}

#footerContainer {
    margin-top: 26vh;
}

