main {
    min-height: 80vh;
}

body {
    margin: 0;
    min-width: 375px;
    overflow-x: hidden;
    background-color: #fff8dc;
}

.User {
    width: 100%;
    height: 15em;
    background-color: gray;
    position: relative;
    display: flex;
    align-items: center;
}

.User img {
    margin-left: 20px;
    width: 8em;
    height: 8em;
    object-fit: cover;
    border-radius: 50%;
}

.User span {
    margin-left: 1em;
    font-size: 40px;
    font-family: ABeeZee, serif;
}

#Followers, #Following {
    margin-left: 20em;
    font-size: 30px;
}

#Following {
    margin-left: 5em;
}

.following {
    margin-left: 12%;
}

.options {
    width: 100%;
    position: absolute;
    margin-left: 10em;
    font-size: 25px;
    top: 80%;
    white-space: nowrap;
}

.options a {
    text-decoration: none;
    color: black;
    margin-right: 2em;
}

.contImagen {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 7px;
    row-gap: 60px;
    margin: 10px 5px;
}

.contImagen > div {
    width: 100%;
    height: 100%;
}

/* Ajusta el tamaño de las imágenes */
.contImagen img {
    width: auto;
    height: auto;
}


.contImagen > div {
    width: 100%;
    height: 100%;
}

#footerContainer {
    margin-top: 26vh;
}

/* ------ RESPONSIVE HEADERS ------ */

/* Ocultar los headers por defecto */
header#phoneHeader {
    display: none;
}

header#desktopHeader {
    display: none;
}

/* Mostrar el header correspondiente según el tamaño de la ventana */
@media screen and (max-width: 720px) {
    header#desktopHeader {
        display: none;
    }
    header#phoneHeader {
        display: block;
    }

    .contImagen {
        margin-left: 21%;
        grid-template-columns: repeat(1, 1fr);
    }

    .User span {
        display: inline;
        white-space: nowrap;
    }

    .options {
        margin-left: 4em;
    }

    .options a {
        font-size: 18px;
    }
}

@media screen and (min-width: 721px) {
    header#phoneHeader {
        display: none;
    }
    header#desktopHeader {
        display: block;
    }
}

.follower-info {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
}

#followers,
#following {
    font-size: 15px; /* Adjust font size as needed */
    margin-left: 10px; /* Add some space between the counts */
}
