/* Estilos para el objeto no_final_image */
body{
    margin: 0;
}

#map {
    height: 85vh;
    position: relative;
}



#searchAndFilter {
    position: absolute;
    /*top: 10px;*/
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 999;
}

#bar_search {
    width: 60%; /* Ancho del input */
    max-width: 400px; /* Ancho máximo */
    padding: 10px; /* Espaciado interior */
    z-index: 999;
}

#filterSelect {
    margin-left: 10px; /* Espacio entre el campo de búsqueda y el menú desplegable */
    border-radius: 10px;
    z-index: 999;
}

#main_footer{
    position: relative; /*Ajustar la posicion*/
    clear: both; /*limpia flotantes previos*/
}

