body {
    margin: 0;
}

main {
    min-height: 80vh;
}

.contImagen {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 1em;
    margin: 0.5em;
}

#footerContainer {
    margin-top: 26vh;
}

/* ------ RESPONSIVE HEADERS ------ */

/* Ocultar los headers por defecto */
header#phoneHeader {
    display: none;
}

header#desktopHeader {
    display: none;
}

/* Mostrar el header correspondiente según el tamaño de la ventana */
@media screen and (max-width: 720px) {
    header#desktopHeader {
        display: none;
    }
    header#phoneHeader {
        display: block;
    }

    .contImagen {
        margin-left: 4em;
    }
}

@media screen and (min-width: 721px) {
    header#phoneHeader {
        display: none;
    }
    header#desktopHeader {
        display: block;
    }
}
