body {
    margin: 0;
}

main {
    min-height: 80vh;
}

.contImagen {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40vh, 1fr));
    column-gap: 7px;
    row-gap: 1em;
    margin: 10px 5px;
}

#footerContainer {
    margin-top: 26vh;
}

/* ------ RESPONSIVE HEADERS ------ */

/* Ocultar los headers por defecto */
header#phoneHeader {
    display: none;
}

header#desktopHeader {
    display: none;
}

/* Mostrar el header correspondiente según el tamaño de la ventana */
@media screen and (max-width: 815px) {
    header#desktopHeader {
        display: none;
    }
    header#phoneHeader {
        display: block;
    }
}

@media screen and (max-width: 720px) {
    .contImagen {
        margin-left: 21%;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 816px) {
    header#phoneHeader {
        display: none;
    }
    header#desktopHeader {
        display: block;
    }
}
