#header {
    background: linear-gradient(180deg, #a7e1e1 10%, #d3f6f6 50%, #a7e1e1 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#header button {
    background-color: #0040ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left:auto;
    border-radius: 10px;
}

#header button:hover {
    background-color: #3D94FA;
}

#header img {
    max-height: 90px;
    margin-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
}

#header #ProfileImage{
    max-height: 50px;
    border-radius: 50%;
    margin-right: 10px;

}

/* ------ NAV ------ */

nav{
    margin-top: 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding:0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 15px;
}

nav a{
    color: #061b4b;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #18449b;
}
