#header {
    background: linear-gradient(180deg, #a7e1e1 10%, #d3f6f6 50%, #a7e1e1 90%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    position: relative;
}

#header button {
    background-color: #061b4b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left:0;
    border-radius: 10px;
}

#header button:hover {
    background-color: #2e5cc7;
}

/* ------ LOGO IMAGE ------ */
#logoPhoto {
    width: 8vh;
    height: 8vh;
    margin-right: 2%;
    margin-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

#ProfileImageHEADER {
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
    margin-right: 2%;
    margin-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

#LogOut {
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* ------ NAV ------ */

nav{
    text-align: center;
    margin: 0 auto;
}
nav ul {
    list-style: none;
    padding:0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 15px;
}

nav a{
    color: #061b4b;
    font-weight: bold;
    text-decoration: none;
    font-family: ABeeZee, serif;
    font-size: 20px;
}

nav a:hover {
    color: green;
}

@media screen and (max-width: 600px) {
    #header img {
        width: 80vh;
    }
}