nav{
    background-color: #a7e1e1;
    margin-top: 0;
}
nav ul {
    list-style: none;
    padding:0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 5px;
}

nav a{
    color: #061b4b;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #18449b;
}