#main_footer {
    background-color: #605959; /* Puedes ajustar el color gris según tus preferencias */
    padding: 15px;
    text-align: center;
}

/* Establecer el color blanco para los enlaces dentro del pie de página */
#main_footer a {
    color: #F5E9E9;
    text-decoration: none;
    margin-right: 170px;
    font-family: 'ABeeZee', sans-serif;

}

/* Estilo adicional para los enlaces cuando se colocan sobre ellos (hover) */
#main_footer a:hover {
    text-decoration: underline; /* Subrayar los enlaces al pasar el ratón sobre ellos si lo deseas */
}
