
main {
    min-height: 80vh;
}

body {
    margin: 0;
}

/* Estilos para el contenedor de usuario */
.User {
    display: flex; /* Establece un diseño de tipo flexbox */
    align-items: center; /* Centra verticalmente los elementos */
    width: 100%; /* Ocupa todo el ancho de la página */
    font-size: 1.2em; /* Tamaño de la fuente */
    background-color: rgba(167, 225, 225, 0.37);
}

/* Estilos para la imagen de usuario */
#image {
    height: 100%;
    flex-shrink: 0; /* Evita que la imagen se encoja */
    margin: 20px; /* Espacio entre la imagen y el bloque de información */
}

#user_img {
    border-radius: 50%; /* Hace que la imagen sea redonda */
    width: 100px; /* Tamaño de la imagen */
    height: 100px;
    border: 2px solid black;
}

/* Estilos para el contenedor de información del usuario */
#information_user {
    flex-grow: 1; /* Permite que el contenedor ocupe el espacio restante */
}

/* Estilos para el nombre de usuario */
#name {
    display: block; /* Hace que el nombre ocupe todo el ancho */
    text-align: center; /* Centra el nombre */
    margin-bottom: 10px; /* Espacio entre el nombre y los seguidores */
    font-size: 40px; /* Tamaño de la fuente */
    font-family: ABeeZee, serif;
}

/* Estilos para el bloque de seguidores */
.followers {
    display: flex; /* Establece un diseño de tipo flexbox */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    margin-bottom: 10px; /* Espacio entre los seguidores y el botón */
}

/* Estilos para los bloques de seguidos y siguiendo */
#seguidos, #siguiedo {
    margin-top: 4%;
    flex: 1; /* Hace que ambos bloques ocupen el mismo ancho */
    text-align: center; /* Centra el contenido */
}

#seguidos a, #siguiedo a {
    font-family: ABeeZee, serif;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}

/* Estilos para los números de seguidores y siguiendo */
#seguidores, #siguiendo {
    display: block; /* Hace que los números ocupen todo el ancho */
    font-weight: bold;
    font-family: ABeeZee, serif;
}

/* Estilos para el botón de seguir */
#FollowButton {
    display: block; /* Hace que el botón ocupe todo el ancho */
    text-align: center; /* Centra el texto del botón */
    font-size: 1em; /* Tamaño de la fuente */
    margin-left: 43%;
    margin-bottom: 2%;
}

/* Media queries para hacer que el texto sea más grande en pantallas más grandes */
@media screen and (min-width: 768px) {
    .User {
        font-size: 1.5em;
    }

    #name {
        font-size: 1.8em;
    }
}


#FollowButton {
    padding: 10px 20px; /* Increase padding to make the button bigger */
    background-color: #007bff; /* Adjust color as needed */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px; /* Adjust as needed */
    cursor: pointer;
    transition: background-color 0.3s;
}
#FollowButton:hover {
    background-color: #0056b3; /* Adjust hover color as needed */
}


.UserContent {
    width: 100%;
    text-align: center; /* Center the text horizontally */
}
.SectionTitle {
    text-decoration: underline;
}

.contImagen {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40vh, 1fr));
    column-gap: 7px;
    row-gap: 60px;
    margin: 10px 5px;
}

#footerContainer {
    margin-top: 26vh;
}

/* ------ RESPONSIVE HEADERS ------ */

/* Ocultar los headers por defecto */
header#phoneHeader {
    display: none;
}

header#desktopHeader {
    display: none;
}

/* Mostrar el header correspondiente según el tamaño de la ventana */
@media screen and (max-width: 815px) {
    header#desktopHeader {
        display: none;
    }
    header#phoneHeader {
        display: block;
    }
}

@media screen and (max-width: 720px) {
    .contImagen {
        margin-left: 21%;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 816px) {
    header#phoneHeader {
        display: none;
    }
    header#desktopHeader {
        display: block;
    }
}



.follower {
    display: flex;
    margin: 5%;
}

.follower p {
    font-size: 20px;
    font-family: ABeeZee, serif;
}

.follower img {
    border: 2px solid black;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    margin-right: 1em;
}

.follower-username {
    margin: 0;
}

#followersDisplay, #followingDisplay {
    background-color: whitesmoke;
    max-height: 50%;
    overflow-y: auto;
    border: 1px solid black;
    margin: 0;
    width: 80em;
    padding: 0;
}

#followersDisplay p, #followingDisplay p {
    margin-top: 13%;
    font-family: ABeeZee, serif;
    font-weight: bold;
    font-size: 25px;
}

#followersDisplay.active {
    margin-left: 31%;
    margin-top: 7%;
    width: 25em;
    display: block;
    position: absolute;
    z-index: 9999; /* O cualquier valor mayor que los z-index de los otros elementos */
}

#followingDisplay.active {
    margin-left: 68%;
    margin-top: 7%;
    width: 25em;
    display: block;
    position: absolute;
    z-index: 9999; /* O cualquier valor mayor que los z-index de los otros elementos */
}

.inactive {
    display: none;
}

.active {
    display: block;
}