
main {
    min-height: 80vh;
}

body {
    margin: 0;
}

/* Estilos para el contenedor de usuario */
.User {
    display: flex; /* Establece un diseño de tipo flexbox */
    align-items: center; /* Centra verticalmente los elementos */
    width: 100%; /* Ocupa todo el ancho de la página */
    font-size: 1.2em; /* Tamaño de la fuente */
    background-color: rgba(167, 225, 225, 0.37);
}

/* Estilos para la imagen de usuario */
#image {
    height: 100%;
    flex-shrink: 0; /* Evita que la imagen se encoja */
    margin: 20px; /* Espacio entre la imagen y el bloque de información */
}

#user_img {
    border-radius: 50%; /* Hace que la imagen sea redonda */
    width: 100px; /* Tamaño de la imagen */
    height: 100px;
}

/* Estilos para el contenedor de información del usuario */
#information_user {
    flex-grow: 1; /* Permite que el contenedor ocupe el espacio restante */
}

/* Estilos para el nombre de usuario */
#name {
    display: block; /* Hace que el nombre ocupe todo el ancho */
    text-align: center; /* Centra el nombre */
    margin-bottom: 10px; /* Espacio entre el nombre y los seguidores */
    font-size: 40px; /* Tamaño de la fuente */
    font-family: ABeeZee, serif;
}

/* Estilos para el bloque de seguidores */
.followers {
    display: flex; /* Establece un diseño de tipo flexbox */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    margin-bottom: 10px; /* Espacio entre los seguidores y el botón */
}

/* Estilos para los bloques de seguidos y siguiendo */
#seguidos, #siguiedo {
    flex: 1; /* Hace que ambos bloques ocupen el mismo ancho */
    text-align: center; /* Centra el contenido */
}

/* Estilos para los números de seguidores y siguiendo */
#seguidores, #siguiendo {
    display: block; /* Hace que los números ocupen todo el ancho */
}

/* Estilos para el botón de seguir */
#FollowButton {
    display: block; /* Hace que el botón ocupe todo el ancho */
    margin: 10px auto; /* Centra el botón horizontalmente */
    text-align: center; /* Centra el texto del botón */
    font-size: 1em; /* Tamaño de la fuente */
}

/* Media queries para hacer que el texto sea más grande en pantallas más grandes */
@media screen and (min-width: 768px) {
    .User {
        font-size: 1.5em;
    }

    #name {
        font-size: 1.8em;
    }
}


#FollowButton {
    padding: 10px 20px; /* Increase padding to make the button bigger */
    background-color: #007bff; /* Adjust color as needed */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px; /* Adjust as needed */
    cursor: pointer;
    transition: background-color 0.3s;
}
#FollowButton:hover {
    background-color: #0056b3; /* Adjust hover color as needed */
}


.UserContent {
    width: 100%;
    text-align: center; /* Center the text horizontally */
}
.SectionTitle {
    text-decoration: underline;
}


.lista_pubilicaciones {
    background-color: #f2f2f2; /* Background color */
    padding: 10px; /* Padding around the container */
    border-radius: 10px; /* Rounded corners */
    margin: 20px; /* Top margin */
}
#listaPublicaciones {
    list-style-type: none; /* Remove list bullets */
    padding: 0; /* Remove default padding */
    overflow: hidden; /* Clear floats */
}
#listaPublicaciones li {
    width: 350px; /* Set width for each item, minus margin */
    display: inline-block; /* Display list items horizontally */
    margin-right: 10px; /* Adjust spacing between list items */
    margin-bottom: 10px; /* Add margin bottom to create space between rows */
    position: relative; /* Set position relative for absolutely positioned elements */
    vertical-align: top; /* Align items to the top */
    box-sizing: border-box; /* Include padding and border in element's total width */
}
#listaPublicaciones li:nth-child(3n) {
    margin-right: 0; /* Remove right margin for every third item to avoid exceeding container width */
}
#listaPublicaciones li a {
    display: block; /* Make anchor tags fill the entire list item */
    position: relative; /* Set position relative for absolutely positioned elements */
}
#listaPublicaciones li a img {
    width: 350px; /* Set image width to 150px (adjust as needed) */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Make images fill the anchor tag */
}
#listaPublicaciones li a span {
    position: absolute; /* Position text absolutely */
    bottom: 0; /* Place at the bottom of the parent container */
    left: 0; /* Place at the left of the parent container */
    width: 100%; /* Occupy full width */
    background-color: rgba(0, 0, 0, 0.5); /* Background color for text */
    color: #fff; /* Text color */
    padding: 5px; /* Padding for text */
    box-sizing: border-box; /* Include padding in element's total width */
    opacity: 0; /* Initially hide the text */
    transition: opacity 0.3s; /* Smooth transition for opacity change */
}

#listaPublicaciones li a:hover span {
    opacity: 1; /* Show text on hover */
}

.contImagen {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 7px;
    row-gap: 60px;
    margin: 10px 5px;
}

#footerContainer {
    margin-top: 26vh;
}

/* ------ RESPONSIVE HEADERS ------ */

/* Ocultar los headers por defecto */
header#phoneHeader {
    display: none;
}

header#desktopHeader {
    display: none;
}

/* Mostrar el header correspondiente según el tamaño de la ventana */
@media screen and (max-width: 720px) {
    header#desktopHeader {
        display: none;
    }
    header#phoneHeader {
        display: block;
    }

    .contImagen {
        margin-left: 21%;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 721px) {
    header#phoneHeader {
        display: none;
    }
    header#desktopHeader {
        display: block;
    }
}
