body {
    margin: 0;
    padding: 0;
    background-image: url("../Images/sign_up.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #696565;
}


.whiteRectangle {
    background-color: white;
    width: 1200px;
    height: 700px;
    border-radius: 65px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    margin-top: 8%;
    display: block;
}

.center div {
    margin-bottom: 0;
}

.big_inputs, .small_inputs {
    font-size: 28px;
    border-radius: 8px;
    padding: 5px;
}

.small_inputs {
    width: 446px;
    height: 40px;
    margin-bottom: 20px;
}

.big_inputs {
    width: 912px;
    height: 40px;
    margin-bottom: 20px;
}

.SignUpButton {
    margin-top: 15px;
    font-size: 28px;
    background-color: #0C6DFF;
    color: white;
    padding: 15px 100px;
    border-radius: 12px;
}

.SignUpButton:hover {
    background-color: #58a9fa;
    cursor: pointer;
}

.terms_checkbox {
    display: flex;
    align-items: center;
    font-size: 28px;
}

.terms_text {
    margin-right: 20px;
}

.checkbox-label a {
    text-decoration: none;
    color: #696565;
}

.AlreadyAcc {
    margin-top: 15px;
    font-size: 20px;
    color: #696565;
}

.AlreadyAcc a {
    text-decoration: none;
    color: #696565;
}

.checkbox-label a:hover,
.AlreadyAcc a:hover {
    text-decoration: underline;
}

#passwordError {
    color: red;
    margin-bottom: 16px;
    font-size: 20px;
}